<div class="content">
<ul class="nav nav-tabs" role="tablist" >
  <li class="nav-item">
    <a class="nav-link active"  data-toggle="tab" href="#tab-home" >Question</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab-profile" >Forum</a>
  </li>
</ul>
<div class="tab-content" id="tab-tabContent" >
  <div class="tab-pane fade show active" id="tab-home" role="tabpanel" aria-labelledby="tab-home-tab">
  <div class="row">
  <div class="col">
    </br>
    <h4>807. Max Increase to Keep City Skyline</h4>Example:
Input: grid = [[3,0,8,4],[2,4,5,7],[9,2,6,3],[0,3,1,0]]
Output: 35
Explanation:
The grid is:
[ [3, 0, 8, 4],
  [2, 4, 5, 7],
  [9, 2, 6, 3],
  [0, 3, 1, 0] ]

The skyline viewed from top or bottom is: [9, 4, 8, 7]
The skyline viewed from left or right is: [8, 7, 9, 3]

The grid after increasing the height of buildings without affecting skylines is:

gridNew = [ [8, 4, 8, 7],
            [7, 4, 7, 7],
            [9, 4, 8, 7],
            [3, 3, 3, 3] ]
    </br>
    </br>
    <button class="btn btn-info" onclick="myclick(807)">More..</button>
  </div>
  </div>
  <div class="row">
    <div class="col">
      </br>
    <h4>542. 01 Matrix</h4>
    Given a matrix consists of 0 and 1, find the distance of the nearest 0 for each cell.

    The distance between two adjacent cells is 1.
    Example 1:
    Input:

    0 0 0
    0 1 0
    0 0 0
    Output:
    0 0 0
    0 1 0
    0 0 0
    </br>
    </br>
    <button class="btn btn-info">More..</button>
  </div>
  </div>
  <div class="row">
    <div class="col">
      </br>
    <h4>456. 132 Pattern</h4>
    Given a sequence of n integers a1, a2, ..., an, a 132 pattern is a subsequence ai, aj, ak such that i < j < k and ai < ak < aj. Design an algorithm that takes a list of n numbers as input and checks whether there is a 132 pattern in the list.

    Note: n will be less than 15,000.

    Example 1:
    Input: [1, 2, 3, 4]

    Output: False

    Explanation: There is no 132 pattern in the sequence.
    </br>
    </br>
    <button class="btn btn-info">More..</button>
  </div>
  </div>
</div>
  <div class="tab-pane fade" id="tab-profile" role="tabpanel" aria-labelledby="tab-profile-tab"></div>

</div>
<div>
